Package: com.hackingdartmouth.snapchatreloaded
Name: SnapchatReloaded
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A Snapchat tweak for non-jailbroken users
Maintainer: Alex Beals <Alex.Beals.18@dartmouth.edu>
Author: Alex Beals <Alex.Beals.18@dartmouth.edu>
Section: Tweaks
